* {
	box-sizing: border-box;
}
html {
	width: 100%;
}
body {
	width: 100%;
	margin: 0;
	padding: 0;
	background-image: url('../img/bg1.png');
	background-size: cover; 
	background-repeat: no-repeat;
	font-family: 'Press Start 2P';
}



header {
}

nav {
	display: block;
	height: 50px;
	background: white;
}

ul {
	display: block;
	margin: 0;
	vertical-align: middle;
}

li {
	display: inline-block;
	font-size: 16px;
	margin-top: 14px;
	margin-right: 20px;
	vertical-align: middle;
	padding: 10px 0 10px 0;
	transition: background-color 2s
}

li:hover{
	background-color: blue;
}
.logo {
	width: 50px;
	float:right;
	margin-top:25px;
}

a:visited {
	color: black;
}

a:link{
	color: black;
	text-decoration: none;
}

h1 {
	margin: 90px 0 20px 80px;
	font-size: 45px;
	font-family: 'Press Start 2P';
}

p {
	font-family: 'Press Start 2P';
	width: 650px;
	margin-left: 80px;
	text-align: justify;
	font-size: 14px;
}


/*EVENT STYLE*/

#main-event {
	text-align: center;
	margin: auto;
}
/* TABLE FORMATTING */


table {
	width: 100%;
	max-width: 600px;
	height: 320px;
	border-collapse: collapse;
	border: 1px solid #38678f;
	margin: 50px auto;
	background: white;
}
th {
	background: steelblue;
	height: 54px;
	width: 25%;
	font-weight: lighter;
	text-shadow: 0 1px 0 #38678f;
	color: white;
	border: 1px solid #38678f;
	box-shadow: inset 0px 1px 2px #568ebd;
	transition: all 0.2s;
}
tr {
	border-bottom: 1px solid #cccccc;
}

td {
  border-right: 1px solid #cccccc;
  padding: 10px;
}

td:last-child {
  border-right: 0px;
