* {
	box-sizing: border-box;
}

html {
	width: 100%;
	background: #ABF8F8;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Press Start 2P';
}

header {
	background-image: url('../img/bg1.png');
	background-size: cover; 
	background-repeat: no-repeat;
	min-height: 100vh;
	overflow: hidden;
}

nav {
	width: 100%;
	display: inline-table;
	height: 50px;
	background: black;
}

#main-logo {
	display: table-cell;
	margin-left: 20px;
	width: 55px;
	height: 45px;
}

ul {
	display: table-cell;
	margin: 0;
}

li {
	display: inline-block;
	font-size: 16px;
	margin-right: 20px;
	color: white;
	transition: background-color 2s
}

li:hover{
	background-color: blue;
}

.logo {
	width: 50px;
	float:right;
	margin-top:25px;
}

a:visited {
	color: black;
}

a:link{
	color: black;
	text-decoration: none;
}

h1 {
	margin: 90px 0 20px 80px;
	font-size: 45px;
	font-family: 'Press Start 2P';
}

p {
	font-family: 'Press Start 2P';
	width: 650px;
	margin-left: 80px;
	text-align: justify;
	font-size: 14px;
}


/*EVENT STYLE*/

#main-event {
	text-align: center;
	margin: auto;
}

/* TABLE FORMATTING */


table {
	width: 100%;
	max-width: 600px;
	height: 320px;
	border-collapse: collapse;
	border: 1px solid #38678f;
	margin: 50px auto;
	background: white;
}
th {
	background: steelblue;
	height: 54px;
	width: 25%;
	font-weight: lighter;
	text-shadow: 0 1px 0 #38678f;
	color: white;
	border: 1px solid #38678f;
	box-shadow: inset 0px 1px 2px #568ebd;
	transition: all 0.2s;
}
tr {
	border-bottom: 1px solid #cccccc;
}

td {
  border-right: 1px solid #cccccc;
  padding: 10px;
}

td:last-child {
  border-right: 0px;
}

/* GALLERY STYLE */

#main-gallery {
	text-align: center;
	margin: 40px auto;
}

.gallery {
	width: 300px;
	height: 300px;
	margin-bottom: 1%;
	border: 3px solid black;
}
